{% extends "finance/base.html" %}
{% load bootstrap3 %}
{% block title %}Create Charges{% endblock %}


{% block content %}
    <center>
        <p><b>Create New Charge</b></p>
        <div class = 'form'>
            <form action="{% url 'finance:new_charge' %}" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Save
                     </button>
                {% endbuttons %}
            </form>
        </div>
    </center>
{% endblock %}
