{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/myapp.css' %}">
   
    <meta charset="utf-8">
    <meta name="description" content="Technoatom course from Mail Group in Mephi!!! (Test project)">
</head>
<title>Error Page</title>
<body class='my_error_page'>
    <div class = 'references'>
        <ul class="list-group">
            {% url 'finance:start_page'  as start_page %}
            {% url  'finance:transactions' as transactions_page %}
            {% url 'finance:new_charge' as new_charge %}
            {% url 'finance:homepage' as homepage %}

             <li class="list-group-item"><a href={{start_page}}>Start page </a></li>
             <li class="list-group-item"><a href={{homepage}}>Home Page </a></li>
             <li class="list-group-item"><a href={{transactions_page}}>Random transactions </a></li>
             <li class="list-group-item"> <a href={{new_charge}}>Create new Charge </a></li>
        </ul>
    </div>
        <h1>{{message}}</h1>
</body>
<footer class = 'navbar-fixed-bottom'>
    <p >Author :  Ivan Smirnov</p>
</footer>
</html>