.form{
        width: 200;
}
.references{

        background-color: transparent;
        margin: auto;
        width: 50%;
        padding: 10px;
        top: 50%;
}

.transaction_tables{
    width: 500;
}
.my_error_page{

    background:  url('/static/image/secret.jpg') no-repeat;
    background-size: 100%;

}
.common{

    background:  url('/static/image/fon.jpg') no-repeat;
    background-size: 100%;

}
.content{
    vertical-align: top;
    float:          left;

}
.my-group{

    background-color: transparent;
}
